<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Movies App</h1>
        <p class="lead">Aplicación para buscar peliculas!</p>
    </div>
</div>
<div class="container">
    <br>
    <app-galeria [peliculas]="cartelera|slice:0:6"
                titulo="Películas en Cartelera"></app-galeria>
    <br>
    <app-galeria [peliculas]="populares|slice:0:6"
                titulo="Películas Populares"></app-galeria>
    <br>
    <app-galeria [peliculas]="popularesKids|slice:0:6"
                titulo="Películas Populares Niños"></app-galeria>

                
</div>